// Fallback plan should main scss files fail

*{
	padding: 0;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}

body{
	background: $light-grey;
}

header{
	background: $white;
	padding: $min-gap;
}

section{
	padding: $min-gap;
}