// space between

$icon-gap: 0.5em;

$min-gap: 32px;

// colours

$white: #fff;

$whiteish: #FDFCFC;

$light-grey: #F7F7F7;

$grey: #F4F4F4;

$dark-grey: #282828;

$black: #101010;

// transitions

$icon_line-position--animated: 48%;
