*{
	padding: 0;
	margin: 0;
}

body{
	background: #f3f3f3;
}

/* nav lines icon*/

#nav_icon{
	display: inline-block;
	position: fixed;
	padding: 8px;
	cursor: pointer;
	right: 32px;
	top: 24px;
	transition: background .75s ease-in-out;
	-moz-transition: background .75s ease-in-out;
	-webkit-transition: background .75s ease-in-out;
	transition: box-shadow .25s ease-in-out;
	-moz-transition: box-shadow .25s ease-in-out;
	-webkit-transition: box-shadow .25s ease-in-out;
	z-index: 1000;
}

#nav_icon:hover{
	background: #ddd;
	box-shadow: 0.5px 0.5px 8px #888888;
}

.icon{
	width: 32px;
	height: 32px;
	position: relative; 
}

.line{
	position: absolute;
	height: 1.5px;
	width: 100%;
	background-color: #333;
	transition: all cubic-bezier(0.26, 0.1, 0.27, 1.55) 0.35s;
}


/*icon line positions*/

.top{
	top: 38%;
}

.bottom{
	top: 60%;
}

/*icon animation classes*/

.icon.close .top{
	transform: rotate(45deg);
	top: 48%;
}

.icon.close .bottom{
	transform: rotate(-45deg);
	top: 48%;
}


/* full screen navigation */


.overlay{
	height: 0;
	width: 100%;
	position: fixed;
	z-index: 1;
	overflow-x: hidden; /* Disable horizontal scroll */
	transition: 0.5s;
}


/* aids the javascript */

.overlay.open{
	height: 100%;
	background: rgba(225,225,225,.8);
}

.menu_content ul{
	position: absolute;
	top: 25%;
	left: 50%;
	width: 100%;
	transform: translate(-50%, 50%);
}

.menu_content ul li{
	list-style-type: none;
	text-align: center;
	font-size: 2rem;
}

.menu_content ul li a{
	text-decoration: none;
	color: black;
	padding: 8px;
	display: block;
}

.menu_content ul li a:hover{
	background: white;
}

/* center title */

section{
	width: 100%;
	height: 100%;
	position: fixed;
}

.title{
	text-align: center;
	left: 50%;
	margin-top: 25%;
}