
#nav_icon{
	display: inline-block;
	position: fixed;
	padding: $icon-gap;
	cursor: pointer;
	right: 2em;
	top: 0;
	transition: background .75s ease-in-out;
	-moz-transition: background .75s ease-in-out;
	-webkit-transition: background .75s ease-in-out;
	transition: box-shadow .25s ease-in-out;
	-moz-transition: box-shadow .25s ease-in-out;
	-webkit-transition: box-shadow .25s ease-in-out;
	z-index: 1000;
}

#nav_icon:hover{
	background: $whiteish;
	box-shadow: 0.5px 0.5px 8px $dark-grey;
}

.icon{
	width: 32px;
	height: 32px;
	position: relative; 
}

.line{
	position: absolute;
	height: 1.5px;
	width: 100%;
	background-color: $black;
	transition: all cubic-bezier(0.26, 0.1, 0.27, 1.55) 0.35s;
}


// lines in icon

.top{
	top: 38%;
}
.bottom{
	top: 60%;
}

/*icon animation classes*/

.icon.close .top{
	transform: rotate(45deg);
	top: $icon_line-position--animated;
}

.icon.close .bottom{
	transform: rotate(-45deg);
	top: $icon_line-position--animated;
}

@media screen and (min-width: 319px) and (max-width: 414px) {

	#nav_icon{
		top: 0.5em;
	}
}
