// full screen navigation


.overlay{
	height: 0;
	width: 100%;
	position: fixed;
	z-index: 1;
	overflow-x: hidden; /* Disable horizontal scroll */
	transition: 0.5s;
}

/* aids the javascript */

.overlay.open{
	height: 100%;
	background: $white;
}

.menu_content ul{
	position: absolute;
	top: 8%;
	left: 50%;
	width: 100%;
	transform: translate(-50%, 50%);
}

.menu_content ul li{
	list-style-type: none;
	text-align: center;
	font-size: 2rem;
}

.menu_content ul li a{
	text-decoration: none;
	color: black;
	padding: $icon-gap;
	display: block;
}

.menu_content ul li a:hover{
	background: $light-grey;
}